 
  <div class = "footballer-card-container" *ngFor = "let footballer of footballers">
    <div class = "footballer-card">
  
      <div class = "footballer-info-container">
        <div class = "footballer-img-container">
            <img class = "footballerImg" alt = "{{footballer.name}} picture" src = "{{footballer.imgUrl}}"/>
        </div>
        <div class = "footballer-info">
          <ul class = "footballer-info-box">
            <div class = "footballer-name-container">
                <li class = "footballer-name"> {{ footballer.name}} </li>
            </div>
            <ul class = "footballer-mini-info-box">
                <li class = "footballer-info-li"> {{footballer.fullName }} </li>
                <li class = "footballer-info-li"> {{footballer.position }} </li>
                <li class = "footballer-info-li"> {{footballer.dateOfBirth}} </li>
                <li class = "footballer-info-li"> {{footballer.placeOfBirth}} </li>
                  <!-- <li> {{footballer.getNationality()}} </li> -->
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>

