.side-menu-container { 
    background-color: rgba(0,0,0, 0.8);
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1 !important;
}

.side-menu li { 
    color: white;
    font-family: Arial;
}

.addFootballerBtn { 
    background-color: rgba(7, 7, 7, 0.411); 
    color: white;
}

.options-container {
    width: 100%; 
    margin: 0 auto; 
    flex-wrap: wrap;
}
.button-container, .selection-container, .input-container { 
    width: 100%;
    margin: 0 auto;
}

.selection-container .footballer-type-selection select{ 
    appearance: none;
    background-color: white;
    
}
