html, body { 
    padding: 0; 
    /* padding-top: 45px; */
    margin: 0;
    background-image: url("/imgs/grass_texture.jpg");
 }

.nav-container { 
    height: 45px; 
    position: fixed;
}
 .filter-nav {
    background-color: white; 
    width: 100%;
    height: 45px;   
    flex-wrap: nowrap; 
    box-shadow: 0px 3px 20px gray;
    /* position: relative !important; */
 }

 .first-link-container, .second-link-container { 
     display: block; 
     width: 50%;
     margin: 9px auto;
     float: left;
 }
 .filter-links { 
    color: rgb(3, 173, 224);
    text-decoration: none;
    font-family: Arial;
    font-size: 1.3em;
    text-align: center;
    margin: 35px;

     display: block;
     margin: 2px 25% !important;
 }


 .filter-links:hover {
     cursor: pointer;
     color: rgb(15, 127, 161);
     transition: color 1s;
 }


 @media (max-width: 600px) { 

    .filter-links { 
        font-size: 1em;
     }

 }

 @media (max-width: 400px ){ 
  
    .filter-links { 
        font-size: 0.8em;
     }
 }