html, body { 
    padding: 0; 
    margin: 0;
    background-image: url("/imgs/grass_texture.jpg");
 }


 .filter-nav {
    background-color: black; 
    width: 100%;
    height: 45px;   
    flex-wrap: nowrap; 
 }

 .first-link-container, .second-link-container { 
     display: block; 
     width: 50%;
     margin: 9px auto;
     float: left;
 }

 .filter-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    text-align: center;
    margin: 35px;
 }

 .filter-nav a:hover {
     cursor: pointer;
 }